<td><%= link_to user.uid, user %></td>
<td><%= link_to user.name, user %></td>
<td><%= link_to user.provider, user %></td>
<td><%= link_to user.created_at.to_s(:short), user %></td>
<td><%= link_to user.updated_at.to_s(:short), user %></td>
