<h3>User</h3>
<p>UID: <%= @user.uid if @user.uid %></p>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Provider: <%= @user.provider if @user.provider %></p>
<p>Created At: <%= @user.created_at if @user.created_at %></p>
<p>Updated At: <%= @user.updated_at if @user.updated_at %></p>
